@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<br />
<br />
<br />
<br />
<div class="mx-5 my-3" style="min-height:390px;">
<h1>Forgot Password Confirmation</h1>

<p>A password reset link has been sent to your email address.</p>
</div>