@model GraduationProject.ViewModel.ForgotPasswordViewModel
<br />
<br />
<br />
<br />
@{
    ViewData["Title"] = "ForgetPassword";
}



<section class="">
    <div class="container py-5 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card shadow" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/assets/img/Login.jpg"
                                 alt="login form" class="img-fluid h-100" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center  h-100 align-content-between">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <h1>Forget Password</h1>
                                <br>
                                <br>
                                <form action="/login/ForgotPassword" method="post">
                                    <div class="form-floating">
                                        <input type="email" asp-for="Email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingInput">Email address</label>
                                    </div>
                                    <span class="help-block text-danger m-1">@ViewBag.SpanText</span>
                                    <br />
                                    <button type="submit" style="background-color:#1d2456; color:#25ade1" class="btn btn-dark btn-block w-100">Reset Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
