<br />
<br />
<br />
<br />
<br />
@{
    ViewData["Title"] = "ResetPassword";
}

@model GraduationProject.ViewModel.ResetPasswordModel


<section class="">
    <div class="container py-5 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card shadow" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/assets/img/Login.jpg"
                                 alt="login form" class="img-fluid h-100" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <h1>Reset Password</h1>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="ResetPassword">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-floating">
                                                <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
                                                <label for="floatingPassword">Password</label>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <br>
                                            <div class="form-floating">
                                                <input type="password" asp-for="ConfirmPassword" class="form-control" id="floatingPassword" placeholder="ConfirmPassword">
                                                <label for="floatingPassword">Confirm Password</label>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <input type="hidden" asp-for="Email" class="form-control" />
                                            <input type="hidden" asp-for="Token" class="form-control" />
                                            <br>
                                            <div class="form-group">
                                                <input type="submit" value="Confirm" style="background-color:#1d2456; color:#25ade1" class="btn w-100 btn-dark btn-block" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
